*{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}

.bg-image{
    height: 100vh;
    width: 100%;
    background-image: url(./bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

